@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*
{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body{
    background-color: black;
}

.imgHeader {
    width: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.aboutme
{
    color: white;
}
.column1{
    border: 5px solid black;
    border-radius: 5px;
    width: 14.1%;
    margin-left: 280px;
    margin-top: 60px;
    height: 75vh;
    float: left;
}
.aboutme{
    background-color: black;
    border-radius: 5px;
}
.aboutme h1{
    background-color: #1b1b1b;
    font-size: var(--font-size);
    padding: 10px;
    width:  100%;
    border-radius: 5px 5px 0 0;
}
.aboutme span{
    color: red;
    margin-left: 11px;
}
.aboutme p{
    color:#7D7D7D;
    padding: 10px;
    background-color: #0A0A0A;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 0 0 5px 5px;   
}

.contentHeader img
{
    margin-bottom: 10px;
}

.container img
{
    width: 50px; 
    cursor: pointer;
}
#kedicik
{
    border: 1px solid #ff4500;
    border-radius: 10px;
    width: 48px;
    cursor: pointer;
}
.socialMedia .container{
    width: 100%;
    display: flex;
}
.socialMedia
{
    padding: 10px;
}
.column2{
    border: 5px solid black;
    border-radius: 5px;
    width: 18%;
    margin-top: 60px;
    margin-left: 50px;
    height: 75vh;
    display: inline-block;
}

.setupComponent
{
    margin-bottom: 10px;
}

.setupComponent p
{
    padding-bottom: 5px;
}

.setupComponent .container
{
    color: white;
    border-radius: 0 0 5px 5px;
    background-color: #0a0a0a;
    padding: 10px;
    border: 1px solid #1b1b1b;
}
.setupComponent h1 
{
    border-radius: 5px 5px 0px 0px;
    background-color: #1B1B1B;
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 16px;
}
.setupComponent .container p{
    cursor: pointer;
    font-size: 14px;
}
.setupComponent .container span{
    color: #7D7D7D;
}

.twitchButton {
    max-width: 100%;
    background: #1B1B1B;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-bottom: solid 1px #7000FF;
    cursor: pointer;
}
.twitchButton:hover {
    transform: translate3d(0px, 0px, 0px) scale3d(0.95, 0.95, 0.7) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    
}
#twitch-embed{
    margin: 0;
}
#crosshairInput
{
    border: 1px solid black;
    border-bottom-color: #ff4500;
    background-color: #1b1b1b;
    color: white;
    border-radius: 5px;
    width: 260px;
    height: 25px;
    text-align: center;
}
.crosshairContainer{
    display: flex;
    font-size: 12px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    
}
.crosshairCopy{
    width: 40%;
    background-color: #1b1b1b;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    border-bottom: solid 1px#FF4500;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.crosshair
{
    margin-top: 30px;
}
.column3 .twitchContainer{
    color: white;
}
.column3
{
    float: right;
    border: 5px solid black;
    border-radius: 5px;
    width: 20%;
    margin-top: 60px;
    margin-right: 520px;
    height: 75vh;
}
.twitchButton
{
    margin-top: 10px;
}

.crosshairContainer input
{
    float: left;
    padding: 10px;
}
#crosshairCopy
{
    color: white;
margin-left: 5px;
padding: 10px 0;
width: 50%;
font-size: 18px;

}
.logo {
    width: 7vw;
    margin-top: 5px;
    margin-left: 830px;
    user-drag: none; 
    user-select: none;
}